.wmg-filter-wrapper {
  background: white;
}

.wmg-filter-container {
  display: flex;
  gap: 14px;
  flex-wrap: nowrap;
  align-items: center !important;
  padding: 8px 0;
}

.wmg-filter-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
  padding: 5px 14px;
  white-space: nowrap;
  border-radius: 6px;
  flex-shrink: 0;
}

.wmg-filter-item:hover {
  color: #e91e63;
}

.wmg-sections-row {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 5px;
  overflow-y: visible !important;
  max-height: unset !important;
  flex-wrap: wrap;
  row-gap: 20px !important; 
  column-gap: 40px;
}

.wmg-section {
  min-width: 135px !important;
  max-width: 195px !important;
  white-space: nowrap;
  margin-left: 0px !important;
}

.wmg-section label {
  display: flex;
  align-items: center;
  margin: 6px 0;
  font-size: 14px;
  color: #444;
  white-space: nowrap !important;
  gap: 8px;
  margin-left: 5px !important;
}

.wmg-section input[type="radio"] {
  margin-right: 7px;
  cursor: pointer;
}

.wmg-section input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 2px solid #777;
  margin-right: 7px;
  cursor: pointer;
}

.wmg-section input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.wmg-btn-col button {
  min-width: 70px;
}
