/* Desktop / Laptop */
.wmg-filter-wrapper {
  background: white;
}

.wmg-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  flex-wrap: nowrap;
}

.wmg-btn-col {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.wmg-filter-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #444;
  padding: 6px 10px;
  border-radius: 6px;
  flex-shrink: 0;
}

.wmg-filter-item:hover,
.wmg-filter-item.active {
  color: #e91e63;
}

/* Filter options dropdown row */
.wmg-sections-row {
  display: flex;
  padding: 10px 16px;
  background: #f9f9f9;
  flex-wrap: wrap;
  gap: 20px;
}

.wmg-full-panel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 3px;
  padding: 15px 1px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.wmg-section {
  min-width: 180px;
  flex-shrink: 0;
}

.wmg-section label {
  display: flex;
  align-items: center;
  margin: 4px 0;
  gap: 6px;
}

.filter-items{
  margin-left: 60px !important;
}

.wmg-full-panel::-webkit-scrollbar {
  height: 6px;
}
.wmg-full-panel::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
}

/* Mobile */
.mobile-filter-btn {
  padding: 8px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 15px;
  color: #007bff;
  cursor: pointer;
}

.mobile-filter-btn button {
  display: flex;
  align-items: center;
  gap: 6px;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

.mobile-filter-sidebar {
  position: relative;
  top: 29%;
  right: 14%;
  width: 270px;
  height: 80%;
  background: white;
  /* box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2); */
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.mobile-filter-categories {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile-filter-category {
  padding: 12px;
  background: #f5f5f5;
  border-radius: 6px;
  font-weight: 500;
}

.mobile-filter-category.active {
  background: #007bff;
  color: white;
}

.mobile-filter-options {
  margin-top: 20px;
}

.mobile-filter-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.mobile-filter-footer {
  position: sticky;
  bottom: 0;
  background: white;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
}

.wmg-section label {
  display: flex;
  align-items: center;
  margin: 4px 0;
  gap: 6px;
}

/* Checkbox & Radio */
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Responsive */
@media (min-width: 992px) {

  .mobile-filter-btn,
  .mobile-filter-sidebar {
    display: none;
  }
}

@media (max-width: 991px) {
  .wmg-filter-container {
    display: none;
  }
}

@media (max-width: 576px){

  .mobile-filter-sidebar {
  position: relative;
  top: 29%;
  left: 1%;
  width: 270px;
  height: 80%;
}
}



