.json-card {
  overflow: hidden;
}

.json-img {
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.json-title {
  font-size: 18px;
  font-weight: 600;
}

.json-city {
  font-size: 14px;
  white-space: nowrap;
}

.json-rating {
  font-weight: 600;
}

.json-price {
  margin-top: 6px;
  font-weight: 500;
}

.json-extra {
  color: #333639;
}

.text-ellipse {
 max-width: 250px;        
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: inline-block;
}

.group:hover .tooltip-box {
  display: flex;
}

.tooltip-box::before {
  content: "";
  position: absolute;
  left: -8px;              
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 12px !important;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #e91e63; 
}

.search-wrapper .form-control:hover {
  border-color: #ced4da !important; 
  box-shadow: none !important;
}

.search-wrapper .form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.link-img{
  border-radius: 50%;
  height: 80px !important;
  width: 80px !important;
  object-fit: cover !important;
}

.location-icon{
  font-size: 18px !important;
  margin-top: 2px;
}

@media(max-width: 576px) {
  .location-text{
    max-width: 110px !important;
  }
  
/* .clear-venues{
  width: 250px !important;
  padding: 6px !important;
} */
}

.pax-tooltip {
  white-space: nowrap;
  z-index: 50;
}



