.json-card {
  overflow: hidden;
}

.json-img {
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.json-title {
  font-size: 18px;
  font-weight: 600;
}

.json-city {
  font-size: 14px;
  white-space: nowrap;
}

.json-rating {
  font-weight: 600;
}

.json-price {
  margin-top: 6px;
  font-weight: 500;
}

.json-extra {
  color: #333639;
}

.text-ellipse {
 max-width: 250px;        
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  display: inline-block;
}

