.detail-image{
    height: 380px !important;
    width: 55%;
    object-fit: cover;
}
.detail-page-rating {
  font-weight: 400;
  font-size: 18px !important;
}
.group:hover .tooltip-boxes {
  display: flex;
}
.tooltip-boxes::before {
  content: "";
  position: absolute;
  left: -6px;              
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 12px !important;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #fc8932; 
}