.register-btn {
  --color: #628fef;
  --text: #5689f7;

  position: relative;
  padding: 0.75em 2em;
  border: 1px solid var(--color);
  border-radius: 8px;

  background: linear-gradient(
    to bottom right,
    white 85%,
    #628fef 15%
  );

  color: var(--text);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.4s ease, color 0.3s ease;
}

.register-btn:hover {
  color: #fff;
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 12%,
    var(--color) 12%,
    var(--color) 100%
  );
}

.list-unstyled{
  font-weight: 400;
  font-size: 15px;
}