.app-download {
  background-color: rgb(250, 229, 233);
}

/* Icons color */
.icon-colors {
  color: rgb(243, 22, 136);
}

/* Phone Input Style */
.phone-input {
  border: none;
  outline: none;
  background: transparent;
}

/* Button */
.download-btn {
  background: linear-gradient(
    to right bottom,
    #fb3379 85%,
    #c00757 15%
  );
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.download-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #9e0849;
  opacity: 0;
  transition: 0.5s ease-in-out;
  clip-path: polygon(
    100% 100%,
    100% 70%,
    70% 100%,
    100% 100%
  );
}

.download-btn:hover::after {
  opacity: 1;
  clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 40%
  );
}

.button-text {
  position: relative;
  z-index: 2;
}

.app-img {
  max-height: 350px;
  object-fit: contain;
  
}
