.centered{
  height: 600px !important;
  width: 65%;
  margin:  0 auto;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  position: relative;
}

.login-img{
    object-fit: contain;
    height: 100%;
}

/* Text Overlay */
.login-heading {
  position: absolute;
  top: 18%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  font-size: 2.5rem;
  font-style: normal;

}

.login-heading h2 {
  line-height: 3;
  /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); */
}