:root {
  --gap: 20px;
}

.real-wedding-container{
  padding: 30px !important;
}

.wedding-title {
  color: rgb(84, 84, 84);
}

.real-wedding-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;

}

.real-wedding-row {
  display: flex;
  gap: var(--gap);
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 15px 0;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  align-items: stretch;
}

.real-wedding-row::-webkit-scrollbar {
  display: none;
}

.real-wedding-card {
  flex: 0 0 calc(100% - 0px);
  max-width: calc(100% - 0px);
  scroll-snap-align: start;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

@media (min-width: 576px) {
  .real-wedding-card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .real-wedding-card {
    flex: 0 0 calc((100% - var(--gap)) / 2);
    max-width: calc((100% - var(--gap)) / 2);
  }
}

@media (min-width: 1024px) {
  .real-wedding-card {
    flex: 0 0 calc((100% - (var(--gap) * 2)) / 3);
    max-width: calc((100% - (var(--gap) * 2)) / 3);
  }
}

.wedding-image-wrapper {
  width: 100%;
  /* aspect-ratio: 4/2; */
  overflow: hidden !important;

}

.real-wedding-image {
  width: 100% !important;
  object-fit: cover !important;
  transition: transform 0.3s ease;
  display: block;
  overflow: hidden !important;
  object-position: center;
}

.real-wedding-image:hover {
  transform: scale(1.18);
}

/* text */
.card-body {
  padding-bottom: 12px;
  padding: 20px !important;
}

.stories-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.real-wedding-desc {
  margin: 6px 0;
  color: #333;
  line-height: 1.4;
  font-size: 14px;
}

.real-wedding-date {
  color: rgb(142, 142, 142);
  font-size: 0.80rem;
}

/* arrows */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.custom-arrow.left {
  left: -15px !important;
}

.custom-arrow.right {
  right: 0 !important;
}

@media (max-width: 575px) {
  .custom-arrow {
    width: 34px;
    height: 34px;
    font-size: 18px;
  }
}

.real-wedding-row {
  padding-inline: 0.5rem;
}

@media (max-width: 767px) {
  .real-wedding-row {
    scroll-snap-type: x mandatory;
  }

  .real-wedding-card {
    scroll-snap-align: center;
  }
}