.wedding-categories {
    color: rgb(88, 88, 88);
    height: 600px !important;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn .25s ease-out;
}
.categories-all-text {
    transition: color 0.1s ease;
    cursor: pointer;
}
.categories-all-text:hover {
    transform: scale(1.01);
    color: #000;
    font-weight: 500 !important;
}