.WMG-heading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: rgb(83, 83, 83);
}

/* Grid Layout */
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
/* Card */
.service-card {
  background: #fff;
  border-radius: 8px;
  padding: 13px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  text-align: center;
}
/* Fixed image wrapper */
.service-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden; 
  border-radius: 8px;
  position: relative;
}

/* Image stays same size, only zooms inside */
.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .7s ease;
  border-radius: 6px !important;
  display: block;
}

/* Hover zoom (image only, not container) */
.service-card:hover .service-image {
  transform: scale(1.2); 
  cursor: pointer;
}

/* Title */
.service-title {
  font-weight: 500;
  color: #333;
  margin-top: 14px;
}

/* Description */
.service-desc {
  font-size: 16px;
  color: #555;
  margin: 10px 0 18px;
}

/* Know More Button */
.service-btn {
  border: 1px solid #e22b8e;
  background: transparent;
  padding: 15px 40px;
  font-size: 15px;
  color: #e22b8e;
  transition: background .2s ease, color .2s ease;
  margin-bottom: 30px !important;
  margin-top: 10px;
}

.service-card:hover .service-btn {
  background: #e22b8e;
  color: #fff;
}

/* Responsive */
@media (max-width: 992px) {
  .service-grid {
    grid-template-columns: 1fr;
  }
  .WMG-heading{
    text-align: center !important;
    font-size: 20px;
  }

  .service-image-wrapper {
    height: 220px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .service-image-wrapper {
    height: 110px;
    width: 100%;
  }
  .service-title{
    font-weight: 500;
    font-size: 16px;
  }
  .service-btn{
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width:376px) {
  .service-image-wrapper {
    height: 90px;
  }
  .service-btn{
    padding: 10px 10px;
  }
}

